<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raja Rani Game</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="card" id="card1" onclick="revealCard('card1')">
            <img src="D:/vignesh_projects/RajaRani/static/back.svg" alt="Card Back" class="card-back">
        </div>
        <div class="card" id="card2" onclick="revealCard('card2')">
            <img src="D:/vignesh_projects/RajaRani/static/back.svg" alt="Card Back" class="card-back">
        </div>
        <div class="card" id="card3" onclick="revealCard('card3')">
            <img src="D:/vignesh_projects/RajaRani/static/back.svg" alt="Card Back" class="card-back">
        </div>
        <div class="card" id="card4" onclick="revealCard('card4')">
            <img src="D:/vignesh_projects/RajaRani/static/back.svg" alt="Card Back" class="card-back">
        </div>
        <div class="card" id="card5" onclick="revealCard('card5')">
            <img src="D:/vignesh_projects/RajaRani/static/back.svg" alt="Card Back" class="card-back">
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
